@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/500.css';
@import '@fontsource/manrope/600.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/manrope/800.css';
@import '@fontsource/victor-mono/400-italic.css';
@import '@fontsource/victor-mono/700-italic.css';
@import '@fontsource/victor-mono/400.css';
@import '@fontsource/victor-mono/700.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';

@tailwind base;

html {
  scroll-behavior: smooth;
  /* margin-left: calc(100vw - 100%); */
  word-break: break-word;
}

::selection {
  color: hsl(var(--pc));
  background: hsl(var(--p));
}

.table-of-contents {
  z-index: 1;
  position: fixed;
  left: calc(50% + 400px);
  top: 18rem;
  max-height: 50vh;
  width: 310px;
  padding: 0.75rem;
  margin: 0.75rem 0;
  font-size: 1rem;
  line-height: 1.75rem;
}

/* Scrollbar styles */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--s)) hsl(var(--p));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--p));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--s));
  /* background: repeating-linear-gradient(
    45deg,
    hsl(var(--s)),
    hsl(var(--s)) 5px,
    hsl(var(--p)) 5px,
    hsl(var(--p)) 10px
  ); */
  border-radius: 14px;
  border: 3px solid hsl(var(--p));
}

@tailwind components;

.all-prose {
  @apply prose prose-lg lg:prose-xl prose-a:transition prose-a:text-primary hover:prose-a:text-primary-focus prose-headings:scroll-mt-16;
}

@tailwind utilities;
